* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

.buttonsHeader {
    font-size: 1.5rem;
    color: map_get($colors, navText);
    border: 0.75px solid map_get($colors, loginText);
    background-color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 12rem;
    height: 5rem;
    font-weight: lighter;
}

