.contactMain {
  margin: 5rem auto 0 auto;
  background-image: url("../../assets/Background-Contact-Form.jpg");
  background-size: cover;
  text-align: center;
  position: relative;
  &::before {
    width: 100%;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(255,255,255, 0.3)
  }
}

.contactSection {
  display: flex;
}

.backgroundImageDiv {
  height: 100%;
  width: 60%;
}

.formDiv {
  width: 40%;
  text-align: center;
  margin-top: 5rem;
  margin-right: 5rem;
  position: relative;
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  img {
    margin-bottom: 2rem;
  }
  form {
    text-align: left;
    margin-left: 5rem;
  }
  label {
    display: inline-grid;
    margin-right: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  input, textarea {
    border: none;
    border-bottom: 1px solid #707070;
    margin-top: 0.8rem;
  }
  textarea {
    width: 23rem;
    height: 5rem;
    resize: none;
  }
  input[type=submit] {
    padding: 1rem;
    width: 6rem;
    height: 3rem;
    font-size: 0.8rem;
    border: 1px solid #707070;
    margin-left: 17.5rem;
  }
}
.pageFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  font-size: 0.8rem;
  position: relative;
  div {
    display: flex;
    margin-right: 2rem;
    img {
      margin-right: 1rem;
    }
  }
}