.MainLogin {

}

.loginPageDiv {
  margin: 3rem auto;

  text-align: center;
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  img {
    margin-bottom: 1rem;
  }
  a{
    text-decoration: none;
    color: map_get($colors, navText);
    cursor: pointer;

  }
  //a:hover {
  //  border: 0.75px solid map_get($colors, loginText);
  //}
  button {
    font-size: 1.2rem;
    border: none;
    background-color: white;
    outline: 0;
    margin-top: 2rem;
    position: relative;
    cursor: pointer;
  }
  .SingInButtonFirst {
    right: 5rem;
  }
  .SubmitButton {
    left: 11rem;
  }
}
.logInFormDiv{
  background-color: #F0F1F1;
  width: 350px;
  height: 190px;
  margin: 0 auto;

}
.logInForm {
  //background-color: #F0F1F1;
  font-size: 0.8rem;
  margin: 2rem auto 0 auto;
  text-align: left;
  padding: 2rem;

  input {
    padding-top: 0.3em;
    border: solid transparent 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #F0F1F1;
    margin-bottom: 2rem;
    margin-top: 1rem;
    outline: 0;
  }
}

.singUpMain {
  .logInFormDiv {
    height: 250px;
  }
}