#whoWeHelpSection {
  text-align: center;
  margin: 0 auto;
  color: map_get($colors, navText);
  h1 {
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
  }
  .textHead {
    width: 30rem;
    line-height: 1.2rem;
    letter-spacing: 0;
    margin: 2rem auto;
  }
}

.buttonsWhoWeHelp {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
  .buttonHelp {
    color: map_get($colors, navText);
    background-color: white;
    text-transform: uppercase;
    padding: 10px;
    width: 12rem;
    height: 5rem;
    font-weight: lighter;
    margin-right: 3rem;
    font-size: 1.2rem;
    outline: 0;
  }
}

.detailsDiv {
  font-size: 0.8rem;
  margin: 1rem auto ;
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  align-items: center;

  div {
    text-align: left;
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
  p {
    text-align: right;
    margin: 0;
  }
  h3 {
    font-size: 1rem;
  }
}
#withoutBorder {
  border-bottom: none
}

.buttonsNumbers {
  border: none;
  color: map_get($colors, navText);
  background-color: white;
  text-transform: uppercase;
  //padding: 10px;
  font-weight: lighter;
  margin-right: 0.5rem;
  font-size: 1rem;
  outline: 0;

}