$colors: (
        backgroundColor: #F0F1F1, /*--panel boczny, nawigacja--*/
        numbersColor: #5E5322, /*--nagłówek, , kolor tekstu w kolumnach--*/
        loginBorder: #FAD648, /*--kolor logo taki jak w dostarczonym snippecie--*/
        loginText: #737373, /*--przyciski, wyróżnienia, nagłówki ekranów--*/
        navText: #3C3C3C, /*--kolor tekstu nawigacji--*/
)

